.display {
    margin: 10px;
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.buttons {
    display : grid;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px;
}


